<%= form_for :state, url: update_states_admin_retail_index_path do |st| %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            Статус заказа
          </h1>
        </div>
        <div class="panel-body">
          <%= st.fields_for :order do |s|%>
            <% Spree::Order.sstatuses.each do |status,no| %>
              <div class="form-group">
                <%= s.label status, Spree.t("order_statuses.#{status}") %>
                  <%= s.select status, options_for_select(@retail_states, Spree::Config[:state_connection]['order'] && Spree::Config[:state_connection]['order'][status]), {include_blank: true}, class: 'form-control' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            Статус оплаты
          </h1>
        </div>
        <div class="panel-body">
          <%= st.fields_for :payment do |p|%>
            <% Spree::Order::PAYMENT_STATES.each do |order_state| %>
               <div class="form-group">
                  <%= p.label order_state, t("spree.payment_states.#{order_state}") %>
                  <%= p.select order_state, options_for_select(@payment_states, Spree::Config[:state_connection]['payment'] && Spree::Config[:state_connection]['payment'][order_state]), {include_blank: true}, class: 'form-control' %>
               </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col-md-4" data-hook="buttons">
      <button name="button" type="submit" class="btn btn-primary "><span class="icon icon-save"></span> Изменить</button>
    </div>
  </div>
<% end %>