<% content_for :page_title do %>
  RetailCRM
<% end %>
<div class="row">
  <div class="col-sm-12" id="content">
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#connection" id="connection-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Статусы</a></li>
      <li role="presentation"><a href="#payment_connection" id="payment-connection-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Оплата</a></li>
      <li role="presentation"><a href="#delivery_connection" id="delivery-connection-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Доставка</a></li>
      <li role="presentation"><a href="#states" role="tab" id="states-tab" data-toggle="tab" aria-controls="profile">Операции</a></li>
    </ul>
    <br/>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="connection" aria-labelledby="home-tab">
        <%= render 'states_connection' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="payment_connection" aria-labelledby="home-tab">
        <%= render 'payment_connection' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="delivery_connection" aria-labelledby="home-tab">
        <%= render 'delivery_connection' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="states" aria-labelledby="profile-tab">
        <div class="list-group">
          <%#= link_to 'Импорт клиентов', import_customers_admin_retail_index_path, class: 'list-group-item list-group-item-success' %>
          <%#= link_to 'Импорт заказов', import_orders_admin_retail_index_path, class: 'list-group-item list-group-item-success' %>
          <%= link_to 'Экспорт заказов', export_all_orders_admin_retail_index_path, class: 'list-group-item list-group-item-info' %>
          <%= link_to 'Экспорт клиентов', export_all_customers_admin_retail_index_path, class: 'list-group-item list-group-item-info' %>
          <%= link_to 'Очистить кеш заказов', clear_all_orders_cache_admin_retail_index_path, class: 'list-group-item list-group-item-warning' %>
          <%= link_to 'Очистить кеш клиентов', clear_all_customers_cache_admin_retail_index_path, class: 'list-group-item list-group-item-warning' %>
        </div>
      </div>
    </div>
</div>
